{% extends "base_generic.html" %}

{% block content %}
  <script>
    submitForms = function(){
      var now = new Date();
      //now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
      //var date = document.getElementById('date3').value = now.toISOString().slice(0,16);
      var sdate = document.getElementById('startdate').value
      var edate = document.getElementById('enddate').value
      console.log(sdate, edate)
    }
  </script>
    <h1>FRAMES LIST</h1>
    <p>
      <h3>Select a time interval :</h3>
      <input type="datetime-local"  id="startdate">
      <input type="datetime-local"  id="enddate">  
      <input type="button" value="Confirm" onclick="submitForms()" />
    </p>
    {% if frames %}
    <ul>
        {% for frame in frames %}
        <li>{{ frame.frame }}
          <img src="{{ frame.path }}{{ frame.frame }}">
          <!--format ==== /images/00051539673100/2022/06/27/15/33/19/2022-06-27 15:33:19.093911.jpg-->
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no frames for this camera in the system.</p>
  {% endif %}
{% endblock %}
