{% extends "base_generic.html" %}

{% block content %}
  <style>
    div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery video {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  </style>
  <script>
  </script>
    <h1>VIDEO GALLERY</h1>
    <p>
    </p>
    {% if videos %}
    <ul>
        {% for video in videos %}
        <div class="gallery">
          <a target="_blank">
            <video src="{{video.path}}{{video.video}}">
          </a>
          <div class="desc">TIMESTAMP : {{video.time_interval}}</div>
        </div>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no videos in the system.</p>
  {% endif %}
{% endblock %}
